/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .svg_wrap_light {
  height: 4.5rem;
  width: 4.5rem;
}

.svg_wrap_dark {
  height: 4.5rem;
  width: 4.5rem;
}

html[data-theme='dark'] .button_header {
  color: #000000;
}

.nounderline {
  text-decoration: none;
  color: #000000;
}

.black_text {
  color: #000000;
}

.white_text {
  color: #FFFFFF;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}